/*
    "darkMode": {
        "textColor": "#dde2f3",
        "backgroundColor": "#080e21",
        "primaryColor": "#7c97e9",
        "secondaryColor": "#0d2e91",
        "accentColor": "#2a5af8",
        "panel": "#101628",
        "panelAccent": #1D2747;
    },
    "lightMode": {
        "textColor": "#0c1122",
        "backgroundColor": "#dee4f7",
        "primaryColor": "#163183",
        "secondaryColor": "#6e8ff2",
        "accentColor": "#0737d5"
    },
    "mobileFontSizes": {
        "headings": "32px",
        "subheading": "24px?",
        "bodyText": "18px",
        "inputText": "18px",
        "smallText": "14px"
    },
    "types": {
      "headings": "Noto Sans",
      "body": "Roboto",
      "logo": "Geologica"
    }
*/

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.menuIcon {
  font-size: 3rem;
}

:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #dde2f3;
  background-color: #080e21;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #7c97e9;
  text-decoration: inherit;
}
a:hover {
  color: #2552da;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 1.2rem;
}

h1,h2,h3,h4 {
  font-family: Noto-Sans, sans-serif;
  /* font-size: 2.6rem; */
  line-height: 1.1;
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1.1em;
  font-weight: 600;
  font-family: inherit;
  background-color: #0d2e91;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #0d2e91;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.hero {
  /* margin-top: 10rem; */
  margin: auto 0;
}

.topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 2rem; */
}

.logoText {
  font-family: Geologica, sans-serif;
  font-style: italic;
  color: #dde2f3;
}

.logoText span {
  color: #7c97e9;
}

#contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
}

.content {
  /* margin-top: 16rem; */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* margin: 1rem 0; */
  /* gap: 12rem; */
  min-height: 100vh;
  padding: 1rem 0;
  box-sizing: border-box;
}

.panel {
  width: 100%;
  max-width: 600px;
  align-self: center;
  background-color: #101628;
  padding: 2.2rem 1rem;
  box-sizing: border-box;
  border-radius: 8px;
  margin: auto 0;
}

.panel form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.primaryButton {
  background-color: #7c97e9;
  color: #000;
}

.labelText {
  font-size: 1.6rem;
}


.inputField {
  background-color: transparent;
  border-radius: 8px;
  border: gray 1px solid;
  padding: 8px 12px;
  box-shadow: none;
  outline: 0;
  transition: border 250ms ease;
}

.inputField:invalid {
  border: red 1px solid;
}

/* .inputField:valid {
  border: green 1px solid;
} */

.inputField:focus {
  border: #2a5af8 1px solid;
}

.tag {
  color: #dde2f3;
  border: #dde2f3 1px solid;
  padding: 4px 12px;
  border-radius: 16px;
}

.strip, .stripCol {
  display: flex;
  background-color: #1D2747;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}

.strip {
  flex-direction: row;
}

.stripCol {
  flex-direction: column;
  text-align: start;
  align-items: start;
}

.leftSide, .rightSide {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.tally {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.placeholderIcon {
  width: 16px;
  height: 16px;
  background-color: #fff;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
