.inputFieldContainer {
    align-items: start;
}

.combo {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 1rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}